.updatepage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.userdetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userdetails input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
}

.submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

h1 {
  background-color: blue;
  color: rgb(242, 245, 248);
  text-align: center;
}

.submit button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit button:hover {
  background-color: #0152a8;
}